:root {
  --main-color: #5c48d3;
}

.App {
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  font-size: 32px;
  color: var(--main-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 250px;
  margin: auto;
  gap: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(235, 234, 234);
  padding: 10px;
  border-radius: 5px;
  color: var(--main-color);
}

.addtodo {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

input[type="text"] {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(235, 234, 234);
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--main-color);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

span.line-through {
  text-decoration: line-through;
}

input[type="checkbox"]:hover,
i:hover,
button:hover {
  cursor: pointer;
}
